
/* || GENERAL STYLES */
body {
  margin: 0;
  background: linear-gradient( white 10%, rgb(46, 44, 44) 40%, rgb(26, 25, 25) 70%);
  font-family: Verdana;
}
* {
  box-sizing: border-box;
}

/* || NAV BAR */
/* Add a kaki background color to the top navigation */
.topnav {
    background-color: #426442;
    overflow: auto;
    position:sticky;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    width: 100%;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 0.75em 0.75em;
  text-decoration: none;
  font-size: 1em;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* Add a color to the active/current link */
.topnav a.active {
  background-color: #1b1a1d;
  color: white;
}
/* Right-aligned section inside the top navigation */
.topnav-right { float: right; }

/* || LOGO */
/* Display the logo in the center of the screen  */
img{
  max-width: 100vh;
  max-height: 100vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/* || CONTAINER */
/* Defines container */
.container{
  margin-bottom: 20px;
  margin-right: 1%;
  margin-left: 1%;
  overflow:auto;
  background-color: #1b1a1d;
  color:white;
  position:static;
}
/* Defines image in container with 50vw columns */
.container_img {
  width: 50vw; /*image width*/
  margin:0%;
}
/* Defines text in container with 50 vw columns */
.container_p {
  margin: 5%;
  padding:0;
  width: 45vw;
}

/* || DESCRIPTION */
.description_wrapper {
  display: grid;
  grid-template-columns: repeat(2);
  grid-auto-columns: 50%; }
.description_img{
  grid-column-start:1;
  grid-column-end:2;
  grid-row:1; }
.description_txt{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row:1; }

  /* || KEY NUMBER */
.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3);
  gap: 10px;
  grid-auto-rows: minmax(auto);
  border:20px;
}
.keyNumber_keyOne {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 2;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  line-height: 5px;
  align-self: flex-end;
  padding-bottom:15px;
}
.keyNumber_keyOneDescript {
  text-transform: uppercase;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 3;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
.keyNumber_keyTwo {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: 2;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  line-height: 5px;
  align-self: flex-end;
  padding-bottom:15px;
}
.keyNumber_keyTwoDescript {
  text-transform: uppercase;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: 3;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
.keyNumber_keyThree {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row: 2;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  line-height: 5px;
  align-self: flex-end;
  padding-bottom:15px;
}
.keyNumber_keyThreeDescript {
  text-transform: uppercase;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row: 3;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
.keyNumber_keyFour {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row: 2;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  line-height: 5px;
  align-self: flex-end;
  padding-bottom:15px;
}
.keyNumber_keyFourDescript {
  text-transform: uppercase;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row: 3;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}
.keyNumber_keyFive{
  grid-column-start: 1;
  grid-column-end:2;
  grid-row-start: 1;
  grid-row-end: 4;
  margin:2vw;
  padding:2vw;
  text-align: left;
  font:bold;
  border:0.4vw solid white;
  font-size: 1.8em;
  line-height: 0.3em; 
}
.keyNumber_topRow{
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start:1;
  grid-row-end: 2;
  vertical-align: center;
  margin:1vw;
  padding:0.5vw; 
} 

/* || SPORT */
.sport_wrapper {
  display: grid;
  grid-template-columns: repeat(2);
  grid-template-rows: repeat(2);
  grid-auto-columns: 50%;
  grid-auto-rows: min-content; }
.sport_img{
  grid-column-start:2;
  grid-column-end:3;
  grid-row-start:1;
  grid-row-end: 3; }
.sport_txt{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row:2; }
.sport_h{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row:1; 
  margin:2vw;
  padding:1vw;
  text-align: left;
  font:bold;
  border:0.4vw solid white;
  text-transform: uppercase;
  height:auto;
  font-size: 1.8em; }

/* || PLANNING */
.planning_img{
  grid-column-start:1;
  grid-column-end:2;
  grid-row-start:1;
  grid-row-end: 3;
  margin-top:2vw; 
}
.planning_txt{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row:2; 
}
.planning_h{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row:1; 
  margin:2vw;
  padding:1vw;
  text-align: left;
  font:bold;
  border:0.4vw solid white;
  text-transform: uppercase;
  height:auto;
  font-size: 1.8em; 
}

/* || SLIDER */
.mySlides {
  display:none;
  width: 48vw; /*image width*/
  margin:0%;
  float:right;}

/* || YOUTUBE VIDEO */
/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* || FOOTER */
footer.footer {
  padding-top: 0.15vw;
  padding-bottom: 0.15vw;
  width: 100%;
  background-color: #426442;
  bottom:0px;
  text-align: center;
  opacity: 0.5; }

