
html{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Position buttons top page*/
button.rightButton{
    position: absolute;
    left: 50px;
}

button.leftButton{
    position: absolute;
    right: 50px;
}

/*Design Infos Contacts*/
div.numero{
    background-color: green;
    padding: 5px;
    display: inline-block;
    border: 1px solid black;
}

div.InfosContact{
    display: inline-block;
    border: 2px solid green;
    width: 8cm;
    padding-left: 10px;
    padding-right: 10px;
}
div.InfosContactRight{
    display: inline-block;
    border: 2px solid green;
    width: 8cm;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    left: 25px;
}
div.InfosContactLeft{
    display: inline-block;
    border: 2px solid green;
    width: 8cm;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    right: 25px;
}

p.Poste{
    font-weight: bold;
}

p.Nom{
    font-weight: bolder;
}
