form {border: 3px solid #f1f1f1;}

/* || GENERAL STYLES */
body {
  margin: 0;
  font-family: Verdana;
}

/* || NAVIGATION BAR */
/* Add a kaki background color to the top navigation */
.topnav {
  background-color: #426442;
  overflow: auto;
  position:sticky;
  position: -webkit-sticky;
  position: sticky;
  top:0;
  width: 100%; }
/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 0.75em 0.75em;
text-decoration: none;
font-size: 1em; }
/* Change the color of links on hover */
.topnav a:hover {
background-color: #ddd;
color: black; }
/* Add a color to the active/current link */
.topnav a.active {
background-color: #1b1a1d;
color: white; }
/* Right-aligned section inside the top navigation */
.topnav-right { float: right; }

/* || LOGIN */
.container {
  margin:2.5vw;
  margin-right: 7.5vw;
  margin-left:7.5vw;
  padding: 1.5vw;
  background-color:rgb(26, 25, 25);
  color: white;
}
/*Cases to fill */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box; }
/* || LOGIN || BUTTON */
/* Button to login */
button {
  background-color: #426442;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.8;
}
/* || LOGIN || AVATAR */
.img_container {
  text-align: center;
  margin: 24px 0 12px 0;
}
img.avatar {
  width: 15vw;
  border-radius: 50%;
  background-color:white;
}

/* || PIED DE PAGE */
footer.footer {
  padding-top: 1px;
  padding-bottom: 1px;
  width: 100%;
  background-color: #426442;
  bottom:0px;
  text-align: center;
  font-weight: 1em; }