<!DOCTYPE html>

<meta charset="UTF-8">

<html>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<head>
    <title>Sports</title>
    <link href="match.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../ressources/CARTEL_Logo.png">
</head>

<body>
    <div class="topnav">
        <a href="../index/index.html">Accueil</a>
        <a href="../map/map.html">Carte</a>
        <a href="../contacts/contacts.html">Contacts</a>
        <a href="../school/school.html">Ecoles</a>
        <a href="../partner/partner.html">Partenaires</a>
        <a href="../planning/planning.html">Planning</a>
        <a href="../sport/sports.html">Sports</a>
        <a href="../edit_match/edit_match.html">Edition des scores</a>
        <a class="active" href="../edit_match/create_match.html">Création de match</a>
        <div class="topnav-right">
            <a href="../login/login.html">Connexion</a>
        </div>
    </div>


    <br><br><br><br>

    <div id="app">
        <ul id="app">
            <li v-for="sport in message">
                <a href="#" @click="getSportInfo(sport.name)">{{ sport.name }}</a>
            </li>
        </ul>
        <br><br><br><br>
        <div id="app">
            <table id="app" class="styled-table">
                <thead>
                    <tr>
                        <th colspan="2">Liste des matchs</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="match in sportInfo">
                        <td>{{ match.date }}</td>
                        <td>{{ match.team1 }}</td>
                        <td>{{ match.score_1 }} - {{match.score_2}}</td>
                        <td>{{ match.team2 }}</td>
                        <td>{{ match.sport }}</td>
                    </tr>
                </tbody>
            </table>
            <br><br><br>
            <table id="edit_table" class="styled-table">
                <thead>
                    <tr>
                        <th colspan="2">Match à créer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="datetime-local" v-model="vdate"></td>
                        <td>
                            <select v-model="vteam1">
                                <option v-for="team in teams" v-bind="vteam1">{{ team.name }}</option>
                            </select>
                        </td>
                        <td>
                            <input type="number" v-model="vscore1" placeholder="vscore1" size="1"> - <input
                                type="number" v-model="vscore2" placeholder="vscore2" size="1">
                        </td>
                        <td>
                            <select v-model="vteam2">
                                <option v-for="team in teams" v-bind="vteam2">{{ team.name }}</option>
                            </select>
                        </td>
                        <td>
                            <select v-model="vsport">
                                <option v-for="sport in sports" v-bind="vsport">{{ sport.name }}</option>
                            </select>
                        </td>
                        <td><a href="#" @click="createMatch(vdate,vteam1,vteam2,vscore1,vscore2,vsport)"><img
                                    src="../ressources/publish_icon.ico" width="30" height="30"></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        var myObject = new Vue({
            el: '#app',
            data: {
                sportInfo: {
                },
                teams: {
                },
                sports: {
                },
                matchInfo: {
                },
                vdate: "2020-03-09T22:18:26.625Z",
                vteam1: "EMSE",
                vteam2: "ALBI",
                vscore1: 0,
                vscore2: 0,
                vsport: "FOOTBALL M",
                message: 'Hello Vue!'
            },


            mounted() {
                axios
                    .get('https://cartel2022.cleverapps.io:443/api/sport')
                    .then(response => (this.message = response.data))
                this.getSportInfo('FOOTBALL%20M')
                this.getTeams()
                this.getSports()
            },
            methods: {
                getTeams() {
                    axios
                        .get('https://cartel2022.cleverapps.io:443/api/ecole')
                        .then(response => (this.teams = response.data))
                    return this.teams
                },
                getSports() {
                    axios
                        .get('https://cartel2022.cleverapps.io:443/api/sport')
                        .then(response => (this.sports = response.data))
                    return this.sports
                },
                getSportInfo(name) {
                    axios
                        .get('https://cartel2022.cleverapps.io:443/api/match/sport/' + name)
                        .then(response => (this.sportInfo = response.data))
                    return this.sportInfo
                },
                getMatchInfo(id) {
                    axios
                        .get('https://cartel2022.cleverapps.io:443/api/match/' + id)
                        .then(response => (this.matchInfo = response.data))
                    return this.matchInfo
                },
                createMatch(vdate, vteam1, vteam2, vscore1, vscore2, vsport) {
                    axios
                        .put('https://cartel2022.cleverapps.io:443/api/match/' + vdate + "/" + vteam1 + "/" + vteam2 + "/" + vscore1 + "/" + vscore2 + "/" + vsport)
                }
            }
        })
    </script>

</body>

</html>