<!DOCTYPE html>

<meta charset="UTF-8">

<html>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<head>
    <title>Sports</title>
    <link href="edit_match.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../ressources/CARTEL_Logo.png">
</head>

<body>
    <div class="topnav">
        <a href="../index/index.html">Accueil</a>
        <a href="../map/map.html">Carte</a>
        <a href="../contacts/contacts.html">Contacts</a>
        <a href="../school/school.html">Ecoles</a>
        <a href="../partner/partner.html">Partenaires</a>
        <a href="../planning/planning.html">Planning</a>
        <a href="../sport/sports.html">Sports</a>
        <a class="active" href="../edit_match/edit_match.html">Edition des scores</a>
        <div class="topnav-right">
            <a href="../login/login.html">Connexion</a>
        </div>
    </div>


    <br><br><br><br>

    <div id="app">
        <ul id="app">
            <li v-for="sport in message">
                <a href="#" @click="getSportInfo(sport.name)">{{ sport.name }}</a>
            </li>
        </ul>
        <br><br><br><br>
        <div id="app">
            <table id="app" class="styled-table">
                <thead>
                    <tr>
                        <th colspan="2">Liste des matchs</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="match in sportInfo">
                        <td>{{ match.date }}</td>
                        <td>{{ match.team1 }}</td>
                        <td>{{ match.score_1 }} - {{match.score_2}}</td>
                        <td>{{ match.team2 }}</td>
                        <td>{{ match.sport }}</td>
                        <td><a href="#" @click="getMatchInfo(match.id)"><img src="../ressources/edit_icon.ico"
                                    width="30" height="30"></a></td>
                    </tr>
                </tbody>
            </table>
            <br><br><br>
            <table id="edit_table" class="styled-table">
                <thead>
                    <tr>
                        <th colspan="2">Score à modifier</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ matchInfo.date }}</td>
                        <td>{{ matchInfo.team1 }}</td>
                        <td><input type="number" v-model="vscore1" placeholder="matchInfo.score_1" size="1"> - <input type="number" v-model="vscore2" placeholder="matchInfo.score_2" size="1"></td>
                        <td>{{ matchInfo.team2 }}</td>
                        <td>{{ matchInfo.sport }}</td>
                        <td><a href="#" @click="editMatchScore(matchInfo.id,vscore1,vscore2)"><img src="../ressources/publish_icon.ico"
                            width="30" height="30"></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        var myObject = new Vue({
            el: '#app',
            data: {
                sportInfo: {
                },
                matchInfo: {
                },
                vscore1:0,
                vscore2:0,
                message: 'Hello Vue!'
            },


            mounted() {
                axios
                    .get('https://cartel2022.cleverapps.io:443/api/sport')
                    .then(response => (this.message = response.data))
                this.getSportInfo('FOOTBALL%20M')
            },
            methods: {
                getSportInfo(name) {
                    axios
                        .get('https://cartel2022.cleverapps.io:443/api/match/sport/' + name)
                        .then(response => (this.sportInfo = response.data))
                    return this.sportInfo
                },
                getMatchInfo(id) {
                    axios
                        .get('https://cartel2022.cleverapps.io:443/api/match/' + id)
                        .then(response => (this.matchInfo = response.data))
                    return this.matchInfo
                },
                editMatchScore(id, score_1, score_2) {
                    axios
                        .put('https://cartel2022.cleverapps.io:443/api/match/' + id + "/" + score_1 + "/" + score_2)
                }
            }
        })
    </script>

</body>

</html>