/* || GENERAL STYLES */
body {
  margin: 0;
  font-family: Verdana;
}

/* || NAVIGATION BAR */
/* Add a kaki background color to the top navigation */
.topnav {
  background-color: #426442;
  overflow: auto;
  position:sticky;
  position: -webkit-sticky;
  position: sticky;
  top:0;
  width: 100%; }
/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 0.75em 0.75em;
text-decoration: none;
font-size: 1em; }
/* Change the color of links on hover */
.topnav a:hover {
background-color: #ddd;
color: black; }
/* Add a color to the active/current link */
.topnav a.active {
background-color: #1b1a1d;
color: white; }
/* Right-aligned section inside the top navigation */
.topnav-right { float: right; }

/* || SCHOOL'S LIST */
ul{
    text-align: center;
}
li{
    background-color: #426442;
    display: inline-block;
}
li a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    font-size: 17px;
}
li a:hover {
    background-color: #ddd;
    color: black;
  }
li a.active{
    background-color:#3A393E;
    color: white;
}

/* || TABLE */
/* Defines general style of table */
.styled-table {
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 2em;
  font-size: 0.9em;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
/* Defines head of table */
.styled-table thead tr {
  background-color: #426442;
  color: #ffffff;
  text-align: center;
}
/* Defines padding in cells*/
.styled-table th,
.styled-table td {
  padding: 1vw 1vw;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #426442;
}