<!DOCTYPE html>

<meta charset="UTF-8">

<html>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<head>
  <title>Cartel</title>
  <link href="sports.css" rel="stylesheet">
</head>

<body>
    <div class="topnav">
      <a href="../index/index.html">Accueil</a>
      <a href="../map/map.html">Carte</a>
      <a href="../contacts/contacts.html">Contacts</a>
      <a href="../school/school.html">Ecoles</a>
      <a href="../partner/partner.html">Partenaires</a>
      <a href="../planning/planning.html">Planning</a>
      <a class = "active" href="../sport/sports.html">Sports</a>
      <div class="topnav-right">
        <a href="../login/login.html">Connexion</a>
      </div>
    </div>


  <br><br><br><br>

  <div id="app">
    <ul id="app">
      <li v-for="sport in message">
        <a href="#" @click="getSportInfo(sport.name)">{{ sport.name }}</a>
      </li>
    </ul>
    <br><br><br><br>
    <div id="app">
      <table id="app" class="styled-table">
        <thead>
          <tr>
            <th colspan="2">Liste des matchs</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="match in sportInfo">
            <td>{{ match.date }}</td>
            <td>{{ match.team1 }}</td>
            <td>{{ match.score_1 }} - {{match.score_2}}</td>
            <td>{{ match.team2 }}</td>
            <td>{{ match.sport }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <script>
    var myObject = new Vue({
      el: '#app',
      data: {
        sportInfo: {
        },
        message: 'Hello Vue!'
      },


      mounted() {
        axios
          .get('https://cartel2022.cleverapps.io:443/api/sport')
          .then(response => (this.message = response.data))
        this.getSportInfo('FOOTBALL%20M')
      },
      methods: {
        getSportInfo(name) {
          axios
            .get('https://cartel2022.cleverapps.io:443/api/match/sport/' + name)
            .then(response => (this.sportInfo = response.data))
          return this.sportInfo
        }
      }
    })
  </script>

</body>

</html>